<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>srvLogin</servlet-name>
        <servlet-class>jvo.simpada.serv.srvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvPembayaran1</servlet-name>
        <servlet-class>jvo.simpada.serv.srvPembayaran1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvPembayaran2</servlet-name>
        <servlet-class>jvo.simpada.serv.srvPembayaran2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvPembayaran</servlet-name>
        <servlet-class>jvo.simpada.serv.srvPembayaran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvPendaftaran</servlet-name>
        <servlet-class>jvo.simpada.serv.srvPendaftaran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvPenetapan</servlet-name>
        <servlet-class>jvo.simpada.serv.srvPenetapan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvPengaturan</servlet-name>
        <servlet-class>jvo.simpada.serv.srvPengaturan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvSetoran</servlet-name>
        <servlet-class>jvo.simpada.serv.srvSetoran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvAnggaran</servlet-name>
        <servlet-class>jvo.simpada.serv.srvAnggaran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvLaporan</servlet-name>
        <servlet-class>jvo.simpada.serv.srvLaporan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvLogin</servlet-name>
        <url-pattern>/srvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvPembayaran1</servlet-name>
        <url-pattern>/srvPembayaran1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvPembayaran2</servlet-name>
        <url-pattern>/srvPembayaran2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvPembayaran</servlet-name>
        <url-pattern>/srvPembayaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvPendaftaran</servlet-name>
        <url-pattern>/srvPendaftaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvPenetapan</servlet-name>
        <url-pattern>/srvPenetapan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvPengaturan</servlet-name>
        <url-pattern>/srvPengaturan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvSetoran</servlet-name>
        <url-pattern>/srvSetoran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvAnggaran</servlet-name>
        <url-pattern>/srvAnggaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvLaporan</servlet-name>
        <url-pattern>/srvLaporan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
